body {
    background-color:lightgray;
    font-size: 20px;
}

.navbar {
    display:flex;
    background-color: beige;
    flex-direction:row;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
}

.main {
    display: flex;
    flex-direction:column;
    
    
}

.pt-one {
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
}

.pt-two {
    background-image: url(./assets/Studio_Ghibli_cre_Film_Daily-jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.container-1 {
    width: 200px;
    height: 400px;
    perspective: 800px;
}

.card-1 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.container-1:hover > .card-1 {
    transform: rotateY(180deg);
}
.front-1,
.back-1 {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.back-1 {
    transform: rotateY(180deg);
}

.img-1 {
    height:80px ;
    width: 80px;
    border-radius: 100%
}
.container-2 {
    width: 200px;
    height: 400px;
    perspective: 800px;
}

.card-2 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.container-2:hover > .card-2 {
    transform: rotateY(180deg);
}
.front-2,
.back-2 {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.back-2 {
    transform: rotateY(180deg);
}

.img-2 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.container-3 {
    width: 200px;
    height: 400px;
    perspective: 800px;
}

.card-3 {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.container-3:hover > .card-3 {
    transform: rotateY(180deg);
}
.front-3,
.back-3 {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0,25);
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.front-3 {
    background-color: white;
}

.back-3 {
    transform: rotateY(180deg);
}

.img-3 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}